:root {
    --orange: #FF9416;
    --black: #3A3A3A;
    --dark-grey: #535353;
    --beige: #DDCAA9;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Prompt', sans-serif; 
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    background-color: var(--orange);
}