:root {
    --orange: #FF9416;
    --black: #3A3A3A;
    --dark-grey: #535353;
    --beige: #DDCAA9;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Prompt', sans-serif; 
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    background-color: var(--dark-grey);
}

.section{
    background-color: var(--black);
    padding: 53px 132px;
    gap: 66px;
    display: flex;
    align-items: center;
}

.avatar {
    object-fit: cover;
    object-position: bottom;
    display: block;
    border-radius: 50%;
    border: 10px solid var(--orange);
    height: 300px;
    width: 300px;
}

.title {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 69px;
    text-align: center;
    color: var(--beige);
    margin-top: 105px;
    margin-bottom: 97px;
}

.text {
    font-family: var(--primary-font);
    color: var(--beige);
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.big {

    font-weight: 600;
    font-size: 50px;
}